c*{
    padding: 0;
    margin:0 ;
    font-family: sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width:100% ;
    background-image:url(..//picture/back.jpeg) ;
    background-size: cover;
    background-position:center ;
}
nav
{
    display: flex;
align-items: center;
flex-direction: row;
gap: 130px;


}
ul{
    display: flex;
    gap: 20px;

}
.name{
    font-size: 20px;
    color: bisque;
}
span{
    color:yellow ;
}
nav ul li a{
    color: azure;
    font-weight:bold ;
    text-decoration: none;
}
.button{
    color: azure;
    text-decoration:none ;
    background-color: red;
    font-weight: bold;
    border-radius: 40px;
    

}
nav ul li a:hover{
    color:darkgoldenrod;
    transition: 1s;
}
.button:hover{
    
    transform: scale(1.1);
}
.content{
   top:80 ;
   left:25 ;
   position: absolute;
   transform: translate(50%,50%);
   
}
h4{
    color:palevioletred ;
    margin-bottom: 40px;
    
}
h2{
    color: aliceblue;
    margin-bottom: 40px;
}
.subscribe form{
    width: 200px; ;
    position: absolute;

}
.subscribe form input:first-child{

    display: inline-block;
    width: 100%;
    padding: 15px 120px 13px 14px;
    border: 3px solid red;
    border-radius: 40px;
}
.subscribe form input:last-child{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: red;
    color: azure;
    border-radius: 40px;
    top: 6px;
    right: -130px;
    position: absolute;
    box-shadow: 0px 0px 10px black;


}
.about-me{
    width: 100%;
    padding: 100px 0px;
    background-color:black ;
}
.about-me img{
    height: 500px;
    width: 300px;
}
.about-content{
    color: azure;

}
.main{
    display: flex;
    gap:80px ;
}
.about-content h3{
    color:darkgoldenrod ;
}
.about-content h5{
    color: palevioletred;
}
.about-content p{
    width: 200px;
}

.btn1{
    color: azure;
    text-decoration:none ;
    background-color: red;
    font-weight: bold;
    border-radius: 40px;
    text-align: center;
    
}
.btn1:hover{
    background-color: blue;
}
.skill{
    background: black;
    width: 100%;
    
    
}
.title h2{
color: azure;
font-size: 60px;
text-align: center;
}
.box{
    display: flex;
    gap: 30px;
    
}
.card{
    height:300px ;
    width: 270px;
    background-color:red ;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card h4{
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: black;
}
.para{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align:center;
}

.btn2{
    color: azure;
    text-decoration:none ;
    background-color: black;
    align-items: center;
    border-radius: 20px;
    width: 100px;
    cursor: pointer;
    padding: 5px 10px;
    display: block;
    text-align: center;
}
.btn2:hover{
    background-color: green;
    transition: 2s;
}
.card i{
    color:black;
    font-size: 30px;
    margin: 15px 0px;
    display: block;
    text-align: center;
}
.card i:hover{
    color: blue;
    transition: 1s;
}
.hire .btn2{
    color: azure;
    text-decoration:none ;
    background-color: red;
    align-items: center;
    border-radius: 20px;
    width: 100px;
    cursor: pointer;
    padding: 5px 10px;
    display: block;
    text-align: center;
}
.hire .btn2:hover{
     background-color: green;
    transition: 2s;
}
.hire{
    width: 100%;
    height: 200px;
    align-content: center;
    background-color: black;
    color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.footer .packi{
    font-size: 20px;
    font-weight:bold ;
    color: bisque;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.footer .more{
     font-size: 15px;
    font-weight:bold ;
    color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer .media a{
    width:30px ;
    height: 30px;
    display: inline-flex;
    gap: 30px;
    background-color:white;
    color: red;
    border-radius: 50%;
    align-items: center;
    object-fit: cover;
    margin: 20px 10px;
    justify-content: center;
    font-size: 22px;
}
.footer .media a:hover{
    background-color: transparent;
    border: 2px solid white;
    transform: 1s;
}
.footer .copy{
    font-size: 15px;
    color: bisque;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}